* {
    margin-top: 3%;
    padding: 0;
    text-align: center;
    
    background-color: rgb(151, 179, 179); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hide{
    display: none;
}




button {
    background-color: rgb(112, 4, 76);
    color: white;   
}



